body{
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.container{
	margin-top: 10px;
}

.jumbotron{
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	border-radius: 0px;
}

.jumbotron img{
	display: inline-block;
	margin: 0px auto;
    height: 100%;
    vertical-align: middle;
}

.jumbotron hr{
	border-color: white;
}

.jumbotron .btn{
	padding: 15px;
	border-radius: 0px;
	border-width: 0px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron .btn:hover{
	background-color: rgba(0, 0, 0, 0.5);
}

.tile-bg{
	background-color: rgba(0, 0, 0, 0.2);
}

.login-box{
	margin: 0px auto;
	width: 300px;
}

.map-box{
	/* width: 50px; */
	padding: 10px;
	/* height: 300px; */
}
.map-box #map{
	height: 600px;
}
