body{
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.content-bg{
	background-color: rgba(0,0,0,0.2);
	color: white;
	padding: 10px;
	margin: 10px;
}
.content-bg img{
	background-color: rgba(255,255,255,0.2);
}

.log-window{
	width: 500px;
	/*background-color: gray;*/
	margin: 0px auto;
}
